$border: rgba(17, 62, 32, 0.05);
$colorInfo:rgba(248, 231, 28, 0.15);
$colorPercent:rgba(248, 231, 28, 1);
$gray: rgba(17, 34, 62, 0.5);
$lightgray: rgba(17, 34, 62, 0.3);
$borderdarker:rgba(34, 62, 105, 0.2);
$borderlighter:rgba(17, 34, 62, 0.07);
$pink: rgba(252, 57, 105, 1);
$pink-shadow: rgba(252, 57, 105, 0.3);
$colorOfResult: rgba(117,185,38, 0.8);





