.line {
  height: 6px;
  margin-top: 10px;
  margin-left: 300px;
  position: relative;

  border-radius: 10px;
  background-color: $borderlighter;
  .pin {
    position: absolute;
    width: 20px;
    height: 100%;
    border-radius: 10px;
    background-color: $pink;
    &:hover, &:active {
      background-color: $pink;
      cursor: pointer;
    }
  }
}